body {
  font-family: 'Roboto', sans-serif;
  color: rgb(220, 220, 220);
  background-color: rgb(10, 10, 13);
}
.navbar {
  height: 45px;
  background-color: rgb(10, 10, 13);
  border-bottom: 1px solid rgb(30, 30, 33);
}
.content {
  margin-top: 45px;
}
.home {
  max-width: 900px;
}
.home h1 {
  background: -webkit-linear-gradient(135deg, #483d8b, #2e8b57);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.logo {
  color: rgb(220, 220, 220);
  text-decoration: none !important;
  margin-bottom: 3px;
  transition: 0.1s;
}
.logo:hover {
  color: rgb(130, 130, 130);
}
.logo span {
  margin-top: 3px;
}
.logo img {
  width: 22px;
  height: 22px;
  transition: 0.1s;
}
.logo:hover img {
  filter: brightness(0.8);
}
.screenshot {
  width: 300px;
  height: 650px;
  border: solid 5px #000000;
  border-radius: 38px;
  box-shadow: 0px 15px 30px #000000;
}
.muted-color {
  color: rgb(130, 130, 130);
}
.max-width-400 {
  max-width: 400px;
}
.max-width-900 {
  max-width: 900px;
}
.pipe {
  color: rgb(30, 30, 33);
}
.navbar-avatar {
  width: 22px;
  height: 22px;
  object-fit: cover;
  margin-bottom: 3px;
}
.account-avatar {
  width: 130px;
  height: 130px;
  object-fit: cover;
  border: solid 3px rgb(130, 130, 130);
  cursor: pointer;
  transition: 0.1s;
}
.account-avatar:hover {
  filter: brightness(0.8);
}
.avatar-output {
  max-width: 300px;
  max-height: 300px;
}
#avatar {
  height: 37px;
}
.form-control {
  color: rgb(220, 220, 220) !important;
  background-color: rgb(0, 0, 3) !important;
  border-color: rgb(30, 30, 33);
}
.form-control:focus {
  border-color: #483d8b;
  box-shadow: 0px 0px 10px rgba(72, 61, 139, 0.2);
}
label, .form-check-input, .form-check-label {
  cursor: pointer;
}
.form-check-input {
  background-color: rgb(0, 0, 3);
  border-color: rgb(30, 30, 33);
  box-shadow: none !important;
}
.form-check-input:active, .form-check-input:focus {
  border-color: rgb(30, 30, 33);
}
.form-check-input:checked {
  background-color: #483d8b;
  border-color: #483d8b;
}
input::placeholder {
  color: rgb(130, 130, 130) !important;
}
input, select, .btn-main {
  height: 40px;
}
.btn-main {
  font-family: 'Comfortaa', cursive;
  font-size: 16px;
  text-transform: uppercase;
  color: rgb(220, 220, 220);
  background-color: rgba(72, 61, 139, 0.2);
  border-color: #483d8b;
  padding-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
}
.btn-main:hover, .btn-main:active, .btn-main:focus {
  color: #ffffff !important;
  background-color: #483d8b !important;
  border-color: #483d8b !important;
  box-shadow: 0px 0px 30px rgba(72, 61, 139, 0.3);
}
.btn-nav {
  color: rgb(220, 220, 220);
  height: 35px;
  min-width: 40px;
  border: none !important;  
}
.btn-nav:hover {
  background-color: rgb(30, 30, 33) !important;
}
.btn-icon {
  border: none;
  outline: none;
  background: none;
  padding: 0px;
  transition: 0.1s;
}
.btn-icon {
  color: rgb(130, 130, 130);
}
.btn-icon:hover {
  color: rgb(220, 220, 220);
}
.link {
  color: #2e8b57;
  text-decoration: none;
}
.link:hover {
  color: #2e8b57;
  text-decoration: underline;
  text-decoration-thickness: 1px;
}
.link:active {
  color: #0dcaf0;
}
.modal {
  backdrop-filter: blur(1px);
  z-index: 6000;
}
.modal-content {
  background-color: rgb(10, 10, 13);
  border-radius: 15px;
}
@media all and (min-width: 576px) {
  .desktop {
    display: inline-block;
  }
}
@media all and (max-width: 575px) {
  .desktop {
    display: none;
  }
}
