body {
  font-family: 'Roboto', sans-serif;
  color: rgb(220, 220, 220);
  background-color: rgb(10, 10, 13);
}
.navbar {
  height: 45px;
  background-color: rgb(10, 10, 13);
  border-bottom: 1px solid rgb(30, 30, 33);
}
.content {
  margin-top: 45px;
}
.home {
  max-width: 900px;
}
.home h1 {
  background: -webkit-linear-gradient(135deg, #483d8b, #2e8b57);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.logo {
  color: rgb(220, 220, 220);
  text-decoration: none !important;
  margin-bottom: 3px;
  transition: 0.1s;
}
.logo:hover {
  color: rgb(120, 120, 120);
}
.logo span {
  margin-top: 3px;
}
.logo img {
  width: 22px;
  height: 22px;
  transition: 0.1s;
}
.logo:hover img {
  filter: brightness(0.8);
}
.screenshot {
  width: 300px;
  height: 650px;
  border: solid 5px #000000;
  border-radius: 40px;
}
.muted-color {
  color: rgb(120, 120, 120);
}
.max-width-400 {
  max-width: 400px;
}
.pipe {
  color: rgb(30, 30, 33);
}
.navbar-avatar {
  width: 22px;
  height: 22px;
  object-fit: cover;
  margin-bottom: 3px;
}
.account-avatar {
  width: 130px;
  height: 130px;
  object-fit: cover;
  border: solid 3px rgb(120, 120, 120);
  cursor: pointer;
  transition: 0.1s;
}
.account-avatar:hover {
  filter: brightness(0.8);
}
.avatar-output {
  max-width: 300px;
  max-height: 300px;
}
#avatar {
  height: 37px;
}
.btn-nav {
  color: rgb(220, 220, 220);
  height: 35px;
  min-width: 40px;
  border: none !important;  
}
.btn-nav:hover {
  background-color: rgb(30, 30, 33) !important;
}
.form-control {
  color: rgb(220, 220, 220) !important;
  background-color: rgb(0, 0, 3) !important;
  border-color: rgb(30, 30, 33);
  box-shadow: none !important;
}
.form-control:focus {
  border-color: #483d8b;
}
label, .form-check-input, .form-check-label {
  cursor: pointer;
}
.form-check-input {
  background-color: rgb(0, 0, 3);
  border-color: rgb(30, 30, 33);
  box-shadow: none !important;
}
.form-check-input:active, .form-check-input:focus {
  border-color: rgb(30, 30, 33);
}
.form-check-input:checked {
  background-color: #483d8b;
  border-color: #483d8b;
}
input, .btn-main {
  height: 40px;
}
.btn-main {
  text-transform: uppercase;
  color: rgb(120, 120, 120);
  background-color: rgba(72, 61, 139, 0.1);
  border-color: #483d8b;
  font-size: 18px;
  padding-top: 5.5px;
}
.btn-main:hover, .btn-main:active, .btn-main:focus {
  color: #ffffff !important;
  background-color: #483d8b !important;
  border-color: #483d8b !important;
}
.link {
  color: #483d8b;
  text-decoration: none;
}
.link:hover {
  color: #483d8b;
  text-decoration: underline;
  text-decoration-thickness: 1px;
}
.link:active {
  color: #a52a2a;
}
.btn-icon, .btn-text {
  border: none;
  outline: none;
  background: none;
  padding: 0px;
  transition: 0.1s;
}
.btn-text {
  font-size: 14px;
  text-transform: uppercase;
}
.btn-icon, .btn-text {
  color: rgb(120, 120, 120);
}
.btn-icon:hover, .btn-text:hover {
  color: rgb(220, 220, 220);
}
.modal-content {
  background-color: rgb(10, 10, 13);
}
.modal {
  backdrop-filter: blur(1px);
  z-index: 6000;
}
input::placeholder {
  color: rgb(120, 120, 120) !important;
}
@media all and (min-width: 576px) {
  .desktop {
    display: inline-block;
  }
}
@media all and (max-width: 575px) {
  .desktop {
    display: none;
  }
}
