{% extends 'index.html' %}
{% block content %}
<div class="container-xl max-width-400 pt-5 pb-5">
  <div class="d-flex align-items-center mb-4">
    <a href="/rooms" class="btn btn-nav me-2"><i class="fa-solid fa-arrow-left"></i></a>
    <h4 class="fw-bold m-0">{{ local.c_r }}</h4>
  </div>
  <div class="mb-4">
    <label for="username" class="form-label mb-1">{{ local.i_u }}</label>
    <input type="text" id="username" name="username" class="form-control" maxlength="32" autocomplete="off" autofocus>
  </div>
  <div class="mb-4">
    <div class="d-flex justify-content-between">
      <label for="private-key" class="form-label mb-1">{{ local.p_k }}</label>
      <button type="button" onclick="switchPassword('private-key', 'switch-private-key')" id="switch-password" class="btn-icon"><i class="fa-solid fa-eye-slash fa-sm"></i></button>
    </div>
    <input type="password" id="private-key" class="form-control" maxlength="500" autocomplete="off">
    <small class="muted-color">{{ local.l_h }} > 9</small>
  </div>
  <input type="hidden" id="csrf-token" value="{{ csrf_token }}">
  <button onclick="createRoom()" id="create-room" class="btn btn-main w-100">{{ local.c_r }}</button>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.3/axios.min.js" integrity="sha512-0qU9M9jfqPw6FKkPafM3gy2CBAvUWnYVOfNPDYKVuRTel1PrciTj+a9P3loJB+j0QmN2Y0JYQmkBBS8W+mbezg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/big-integer/1.6.51/BigInteger.min.js" integrity="sha512-gHNUM5lAKXJFwUX0qjNGL5tJSoa8TTz2xUTw5COytE/p3MHy2Mivey3Gb76Blf6JfvNglTskVo5YsxDix6XIcg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/static/js/create_room.js"></script>
<script src="/static/js/switch_password.js"></script>
{% endblock %}