{% extends 'index.html' %}
{% block meta %}
<meta name="title" content="{{ local.h_e_1 }}">
<meta name="description" content="{{ local.h_e_2 }}">
<meta property="og:url" content="https://messedges.com">
<meta property="og:title" content="{{ local.h_e_1 }}">
<meta property="og:description" content="{{ local.h_e_2 }}">
<meta property="og:image" content="/static/images/logo-bg.png">
<meta property="og:image:width" content="400">
<meta property="og:image:height" content="400">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="https://messedges.com">
<meta name="twitter:title" content="{{ local.h_e_1 }}">
<meta name="twitter:description" content="{{ local.h_e_2 }}">
<meta name="twitter:image" content="/static/images/logo-bg.png">
{% endblock %}
{% block content %}
<div class="container-xl home pt-5 pb-5">
  <div class="text-center">
    <h1 class="fw-bold display-5">{{ local.h_e_1 }}</h1>
    <h5 class="mt-4">{{ local.h_e_2 }}</h5>
    <h6 class="mt-4 muted-color">{{ local.h_e_3 }}</h6>
    <a href="/signup" class="btn btn-main mt-2">{{ local.c_a }}</a>
    <div class="row align-items-center mt-5 mb-5">
      <div class="col-md-5">
        <img src="/static/images/screenshot-1.jpg" class="screenshot">
      </div>
      <div class="col-md-2 muted-color pt-3 pb-3">
        <i class="fa-solid fa-arrow-right"></i>
      </div>
      <div class="col-md-5">
        <img src="/static/images/screenshot-2.jpg" class="screenshot">
      </div>
    </div>
  </div>
  <div>
    <h6>1. {{ local.h_e_4 }}</h6>
    <h6>2. {{ local.h_e_5 }}</h6>
    <h6>3. {{ local.h_e_6 }}</h6>
    <h6 class="muted-color">{{ local.h_e_7 }}.</h6>
    <h6 class="pt-3">{{ local.t_b }} <a href="https://t.me/messedges_bot" target="_blank" class="link">Telegram Bot</a>.</h6>
    <h6 class="pt-2"><a href="https://github.com/ilyakotsar/image-encryption" target="_blank" class="link">Image Encryption</a> – {{ local.i_e }}.</h6>
    <h6 class="pt-2">Open source: <a href="https://github.com/ilyakotsar/messedges.com" target="_blank" class="link">GitHub</a></h6>
    <h6 class="pt-2"><a href="https://messedges.com/api/statistics" target="_blank" class="link">Statistics API</a></h6>
  </div>
</div>
{% endblock %}
