<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  {% block meta %}{% endblock %}
  <title>Messedges</title>
  <link rel="shortcut icon" type="image/png" href="/static/images/logo.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.2/css/bootstrap.min.css" integrity="sha512-CpIKUSyh9QX2+zSdfGP+eWLx23C8Dj9/XmHjZY2uDtfkdLGo0uY12jgcnkX9vXOgYajEKb/jiw67EYm+kBf+6g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
  <nav class="navbar navbar-expand fixed-top">
    <div class="container-xl">
      <a href="/" class="d-flex align-items-center logo">
        <img src="/static/images/logo.png">
        <span class="desktop ms-1">Messedges</span>
      </a>
      <div class="d-flex flex-row ms-auto">
        {% if request.user.is_authenticated %}
        <a href="/rooms" class="btn btn-nav me-2">
          <i class="fa-solid fa-envelope"></i>
          <span class="desktop ms-1">{{ local.r_s }}</span>
        </a>
        <a href="/account" class="btn btn-nav me-2">
          <img src="{% if request.user.avatar != '' %}/media/{{ request.user.avatar }}{% else %}/static/images/avatar.png{% endif %}" class="rounded-circle navbar-avatar">
          <span class="desktop ms-1">{{ request.user }}</span>
        </a>
        {% else %}
        <a href="/login" class="btn btn-nav me-2">
          <i class="fa-solid fa-user"></i>
          <span class="desktop ms-1">{{ local.l_i }}</span>
        </a>
        {% endif %}
        <span class="pipe mt-1 me-2">❘</span>
        <a href="/language" class="btn btn-nav"><i class="fa-solid fa-globe"></i></a>
      </div>
    </div>
  </nav>
  <div class="content">
    {% block content %}{% endblock %}
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.2/js/bootstrap.bundle.min.js" integrity="sha512-BOsvKbLb0dB1IVplOL9ptU1EYA+LuCKEluZWRUYG73hxqNBU85JBIBhPGwhQl7O633KtkjMv8lvxZcWP+N3V3w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>
