{% extends 'index.html' %}
{% block content %}
<div class="container-xl max-width-400 pt-5 pb-5">
  <form method="post">
    {% csrf_token %}
    <div class="text-center mb-4">
      <h4 class="fw-bold m-0">{{ local.l_e }}</h4>
    </div>
    <div class="row mb-4">
      {% for i in languages %}
      <div class="col-6 mt-2">
        <div class="form-check">
          <input type="radio" onclick="changeLink(this)" id="{{ i.0 }}" name="language" class="form-check-input" value="{{ i.0 }}" {% if language == i.0 %}checked{% endif %}>
          <label class="form-check-label" for="{{ i.0 }}">{{ i.1 }}<span class="ms-1 muted-color text-uppercase">{{ i.0 }}</span></label>
        </div>
      </div>
      {% endfor %}
    </div>
    <button type="submit" class="btn btn-main w-100">{{ local.s_e }}</button>
    <div class="mt-3 text-center">
      <a href="https://messedges.com/en" id="langugage-link" class="link">https://messedges.com/{{ language }}</a>
    </div>
  </form>
</div>
<script>
function changeLink(radio) {
  let link = document.getElementById('langugage-link');
  link.href = 'https://messedges.com/' + radio.value;
  link.innerHTML = 'https://messedges.com/' + radio.value;
}
</script>
{% endblock %}
