{% extends 'index.html' %}
{% block content %}
<div class="container-xl max-width-400 pt-5 pb-5">
  <form method="post">
    {% csrf_token %}
    <div class="text-center mb-4">
      <h4 class="fw-bold m-0">{{ local.l_e }}</h4>
    </div>
    <div class="row mb-4">
      <div class="col-6 mt-2">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="language" id="en" value="en" {% if language == 'en' %}checked{% endif %}>
          <label class="form-check-label" for="en">English<span class="ms-1 muted-color">EN</span></label>
        </div>
      </div>
      <div class="col-6 mt-2">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="language" id="ru" value="ru" {% if language == 'ru' %}checked{% endif %}>
          <label class="form-check-label" for="ru">Русский<span class="ms-1 muted-color">RU</span></label>
        </div>
      </div>
      <div class="col-6 mt-2">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="language" id="jp" value="jp" {% if language == 'jp' %}checked{% endif %}>
          <label class="form-check-label" for="jp">日本<span class="ms-1 muted-color">JP</span></label>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-main w-100">{{ local.s_e }}</button>
  </form>
</div>
{% endblock %}
