{% extends 'index.html' %}
{% load static %}
{% block content %}
<div class="container-xl max-width-400 pt-5 pb-5">
  <form method="post">
    {% csrf_token %}  
    <div class="d-flex justify-content-between align-items-end mb-4">
      <h4 class="fw-bold m-0">{{ local.l_i }}</h4>
      <a href="{% url 'signup' %}" class="link">{{ local.c_a }}</a>
    </div>
    <div class="mb-4">
      <label for="username" class="form-label mb-1">{{ local.u_n }}</label>
      <input type="text" id="username" name="username" class="form-control" maxlength="25" required autofocus>
    </div>
    <div class="mb-4">
      <div class="d-flex justify-content-between">
        <label for="password" class="form-label mb-1">{{ local.p_w }}</label>
        <button type="button" onclick="switchPassword('password', 'switch-password')" id="switch-password" class="btn-icon"><i class="fa-solid fa-eye-slash fa-sm"></i></button>
      </div>
      <input type="password" id="password" name="password" class="form-control" maxlength="100" autocomplete="off" required>
    </div>
    <button type="submit" class="btn btn-main w-100">{{ local.l_i }}</button>
  </form>
</div>
<script src="{% static 'js/switch_password.js' %}"></script>
{% endblock %}
