{% extends 'index.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/room.css' %}">
<div class="container-xl pt-3 pb-5">
  <div class="row">
    <div class="col-md-4 pt-2 pb-2">
      <a href="{% url 'create_room' %}" class="btn btn-main w-100">{{ local.c_r }}</a>
      {% if used > 0 %}
      <h6 class="mt-2 mb-0 muted-color text-end">
        <small><i class="fa-solid fa-database me-1"></i>{{ used }}%</small>
      </h6>
      {% endif %}
    </div>
    <div class="col-md-8 pt-2">
      {% if rooms|length > 0 %}
      {% for room in rooms %}
      <div class="rooms-card mb-3 rounded">
        <div class="row align-items-center p-3 position-relative">
          <a href="{% url 'room' room.name %}" class="stretched-link"></a>
          <div class="col-sm-2 text-center">
            {% if room.recipient_avatar != '' %}
            <img src="/media/{{ room.recipient_avatar }}" class="rounded-circle rooms-avatar">
            {% else %}
            <img src="{% static 'images/avatar.png' %}" class="rounded-circle rooms-avatar">
            {% endif %}
          </div>
          <div class="col-sm-10">
            <h2 class="fw-bold mt-1 mb-0">{{ room.recipient }}</h2>
            <div class="d-flex justify-content-between align-items-end">
              <div class="muted-color">
                {% if room.message_count %}<div><small>{{ local.m_s }}: {{ room.message_count }}{% if room.unread_count %}<span class="text-info"> + {{ room.unread_count }}</span>{% endif %}</small></div>{% endif %}
                {% if room.last_online %}<div><small>{{ room.last_online }}</small></div>{% endif %}
              </div>
              <button class="btn-icon delete-room-btn" data-bs-toggle="modal" data-bs-target="#delete-room-{{ room.name }}-modal">
                <i class="fa-solid fa-trash fa-sm"></i>
              </button>
            </div>
          </div>
        </div>
        <div id="delete-room-{{ room.name }}-modal" class="modal fade" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content border-0">
              <div class="modal-header border-0">
                <h5 class="modal-title text-danger">{{ local.d_r }}?</h5>
                <button class="btn-icon" data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i></button>
              </div>
              <div class="modal-body">
                <form method="post">
                  {% csrf_token %}
                  <h3 class="text-center mb-4">{{ room.recipient }}</h3>
                  <button type="submit" name="delete-room" value="{{ room.name }}" class="btn btn-main w-100">{{ local.d_r }}</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
